'use client';

import { ReactNode } from 'react';

interface {{name}}Props {
  children?: ReactNode;
}

export function {{name}}({ children }: {{name}}Props) {
  return (
    <div>
      {children}
    </div>
  );
}
